:root {
  --distance: 0px;
  --speed: 1s;
  --spin: 360deg;
  --pointMargin: 0px;
  --bgSize: 2000px;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@keyframes planetMotion {
  0% {
      transform: rotate(360deg) translateX(var(--distance)) rotate(var(--spin));
  }

  100% {
      transform: rotate(0deg) translateX(var(--distance)) rotate(0deg);
  }
}

@keyframes glow {

  0%,
  100% {
      box-shadow: 0 0 0 10px rgb(255, 119, 0),
          0 0 0 25px rgba(255, 112, 10, 0.62);
  }

  50% {
      box-shadow: 0 0 0 10px rgb(255, 119, 0),
          0 0 0 18px rgba(255, 123, 0, 0.856),
          0 0 0 26px rgba(255, 112, 10, 0.62),
          0 0 0 42px rgba(255, 76, 22, 0.484),
          0 0 0 56px rgba(254, 131, 8, 0.494)
  }

  60% {
      box-shadow: 0 0 0 10px rgb(255, 119, 0),
          0 0 0 18px rgba(255, 123, 0, 0.856),
          0 0 0 26px rgba(255, 112, 10, 0.62),
          0 0 0 42px rgba(255, 76, 22, 0.484),
          0 0 0 56px rgba(254, 131, 8, 0.494)
  }
}

@keyframes glowMini {

  0%,
  100% {
      box-shadow: 0 0 0 10px rgb(255, 119, 0),
          0 0 0 25px rgba(255, 112, 10, 0.62);
  }

  50% {
      box-shadow: 0 0 0 10px rgb(255, 119, 0),
          0 0 0 18px rgba(255, 123, 0, 0.856),
          0 0 0 24px rgba(254, 131, 8, 0.494)
  }

  60% {
      box-shadow: 0 0 0 10px rgb(255, 119, 0),
          0 0 0 18px rgba(255, 123, 0, 0.856),
          0 0 0 24px rgba(254, 131, 8, 0.494)
  }
}

@keyframes point {

  0%,
  100% {
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.889),
          0 0 0 8px black,
          0 0 0 10px rgba(255, 255, 255, 0.732);
  }

  50% {
      box-shadow: 0 0 0 9px rgba(255, 255, 255, 0.889),
          0 0 0 12px black,
          0 0 0 14px rgba(255, 255, 255, 0.732);
  }
}

* {
  box-sizing: border-box;
}

body {
  background: black;
  background-image: radial-gradient(
          rgb(35, 35, 35) 0% 4%,
          rgb(26, 26, 26) 4% 5%,
          rgb(21, 21, 21) 5% 6%,
          rgb(17, 17, 17) 6% 7%,
          rgb(15, 15, 15) 7% 8%,
          rgb(11, 11, 11) 8% 9.5%,
          rgb(8, 8, 8) 9.5% 11%,
          rgb(6, 6, 6) 11% 13.5%,
          rgb(4, 4, 4) 13.5% 16%,
          rgb(3, 3, 3) 16% 20%,
          rgb(2, 2, 2) 20% 25%,
          black);
  background-size: var(--bgSize) var(--bgSize);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family: 'Lexend Deca', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body,
.solarSystem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solarSystem {
  transition: all ease-in-out 1s;
}

.sun {
  height: 230px;
  width: 230px;
  background: rgb(255, 105, 0);
  position: absolute;
  border-radius: 50%;
  transform: scale(1);
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: all ease-in-out 0.2s;
}

.mini {
  height: 50px;
  width: 50px;
  animation-name: glowMini;
}

.planet {
  position: absolute;
  border-radius: 50%;
  animation: planetMotion var(--speed) linear infinite;
  transition: all ease-in-out 1s;
}

#mercury {
  --speed: 2.41s;
  --pointMargin: 7px;
  --distance: 262.9px;
  height: 1.276px;
  width: 1.276px;
  background: white;
}

#mercury.motionMiniSun {
  --distance: 62.9px;
}

#venus {
  --speed: 6.15s;
  --pointMargin: 9px;
  --distance: 274px;
  height: 3.163px;
  width: 3.163px;
  background: rgb(255, 169, 108);
}

#venus.planet.motionMiniSun {
  --distance: 74px;
}

#earth {
  --speed: 10s;
  --pointMargin: 12px;
  --distance: 283.3px;
  height: 3.33px;
  width: 3.33px;
  background: rgb(103, 172, 255);
}

#earth.motionMiniSun {
  --distance: 83.3px;
}

#mars {
  --speed: 18.8s;
  --pointMargin: 8px;
  --distance: 300.6px;
  height: 1.773px;
  width: 1.773px;
  background: rgb(255, 189, 168);
}

#mars.motionMiniSun {
  --distance: 100.6px;
}

#jupiter {
  --speed: 119s;
  --spin: 15598deg;
  --pointMargin: 55px;
  --distance: 440px;
  height: 37.36px;
  width: 37.36px;
  background: rgb(210, 132, 73);
  box-shadow: 0 0 0 9px black,
      0 0 0 12px rgba(213, 178, 152, 0.696),
      0 0 0 15px black,
      0 0 0 22px rgba(213, 178, 152, 0.273),
      0 0 0 24px black,
      0 0 0 33px rgba(213, 178, 152, 0.15);
}

#jupiter.motionMiniSun {
  --distance: 240px;
}

#saturn {
  --speed: 294s;
  --pointMargin: 40px;
  --distance: 569px;
  height: 23.625px;
  width: 23.625px;
  background: rgb(194, 117, 63);
  box-shadow: 0 0 0 8px black,
      0 0 0 10px rgba(213, 178, 152, 0.414),
      0 0 0 9px black,
      0 0 0 14px rgba(213, 178, 152, 0.273),
      0 0 0 13px black,
      0 0 0 19px rgba(213, 178, 152, 0.439),
      0 0 0 18px black,
      0 0 0 23.5px rgba(213, 178, 152, 0.245)
}

#saturn.motionMiniSun {
  --distance: 369px;
}

#uranus {
  --speed: 837s;
  --pointMargin: 24px;
  --distance: 889px;
  height: 13.36px;
  width: 13.36px;
  background: rgb(129, 164, 216);
  box-shadow: 0 0 0 7px black,
      0 0 0 11px rgba(130, 130, 249, 0.225)
}

#uranus.motionMiniSun {
  --distance: 689px;
}

#neptune {
  --speed: 1637s;
  --pointMargin: 23px;
  --distance: 1256px;
  height: 12.93px;
  width: 12.93px;
  background: rgb(56, 116, 255);
  box-shadow: 0 0 0 6px black,
      0 0 0 12px rgba(62, 120, 255, 0.197);
}

#neptune.motionMiniSun {
  --distance: 1056px;
}

#pluto {
  --speed: 2479s;
  --pointMargin: 6px;
  --distance: 1563px;
  height: 0.623px;
  width: 0.623px;
  background: white;
}

#pluto.motionMiniSun {
  --distance: 1363px;
}

/* | | | | | | | | | */
/* for tool-tip-box */
/* .planet::after, .sun::after{
  content: attr(id);
  position: absolute;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.214);
  padding: 5px 20px;
  transform: scale(0) translate(-100%);
  left: 50%;
  top: 50%;
  transition: all ease-in-out 0.5s;
}
.planet:hover::after, .sun:hover::after{
  transform: scale(1) translate(-50%,-50%);
} */

/* | | | | | | | | | |  */
/* planet spotting menu */
.finder {
  opacity: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 80%;
  min-width: 110px;
  max-width: 800px;
  bottom: 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.214);
  padding: 0px 20px;
  transition: all ease-in-out 0.5s;
}

.finder:hover {
  opacity: 90%;
}

.finder span {
  font-size: 10px;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  font-weight: 900;
  transition: all ease-in-out .2s;
}

.finder span:hover {
  background: rgb(255, 161, 46);
  color: black;
}

.finder span.selected {
  background: white;
  color: black;
}

/* planet spotting ring effect */
.planet.point_on::before {
  content: '';
  background-color: transparent;
  height: calc(3 * var(--pointMargin));
  width: calc(3 * var(--pointMargin));
  border-radius: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  z-index: -1;
  animation: point 1s infinite;
  position: absolute;
}

/* | | | | | | | | */
/* controller menu */
.control {
  display: flex;
  gap: 15px;
  position: fixed;
  left: 6%;
  top: 5%;
  z-index: 2;
  transition: all ease-in-out 0.2s;
}

.control>div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.214);
  border-radius: 50%;
}

/* | | | | | | | | | | | | | */
/* animation play/pause bttn*/
.playState {
  height: 50px;
  width: 50px;
}

.play {
  height: 0px;
  width: 0px;
  position: relative;
  left: 2px;
  border-top: 10px solid transparent;
  border-left: 18px solid rgba(255, 255, 255, 0.821);
  border-bottom: 10px solid transparent;
  border-right: 0px solid transparent;
  transition: all ease-in-out 0.1s;
}

.pause {
  display: flex;
  position: absolute;
}

.pause__stick {
  z-index: 1;
  height: 20px;
  width: 4px;
  background: rgba(255, 255, 255, 0.821);
  margin: 3px;
}

.hidden {
  transform: scale(0);
}

/* | | | | | | | | | | | */
/* SUN zoomIn/Out button */
.sunState {
  height: 50px;
  width: 50px;
}

.sunModel {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgb(255, 168, 27);
  transition: all ease 0.2s;
}

.sunMiniState {
  height: 8px;
  width: 8px;
}

/* | | | | | | | | | | | | | | | | */
/* solar-system zoomIn/Out button */
.zoomState {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 10px solid rgba(255, 255, 255, 0.535);
  background-color: rgba(255, 255, 255, 0.214);
  transition: all ease 0.2s;
  border-radius: 50%;
}

.zoomInState {
  height: 44px;
  width: 44px;
  border: 3px solid rgba(255, 255, 255, 0.535);
}

/* | | | | | | | | | | | | | | | */
/* adjustment for smaller screen */
@media (max-width:768px) {

  /* | | | | | | | | | |  */
  /* planet spotting menu */
  .finder {
      column-gap: 10px;
      row-gap: 2px;
      opacity: 60%;
      flex-wrap: wrap;
      justify-content: space-around;
      bottom: 10%;
      border-radius: 10px;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0);
  }

  .finder span {
      background-color: rgba(0, 0, 0, 0.519);
      font-size: 11px;
      padding: 5px 10px;
      font-weight: 700;
  }

  /* | | | | | | | | */
  /* controller menu */
  .control {
      flex-flow: column;
      gap: 10px;
      left: 8%;
      top: 5%;
  }

  .control>div {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.214);
      border-radius: 50%;
  }

  /* | | | | | | | | | | | | | */
  /* animation play/pause bttn*/
  .playState {
      height: 30px;
      width: 30px;
  }

  .play {
      left: 1.49px;
      border-top: 7px solid transparent;
      border-left: 12px solid rgba(255, 255, 255, 0.821);
      border-bottom: 7px solid transparent;
  }

  .pause__stick {
      height: 13px;
      width: 3px;
      margin: 2px;
  }

  /* | | | | | | | | | | | */
  /* SUN zoomIn/Out button */
  .sunState {
      height: 30px;
      width: 30px;
  }

  .sunModel {
      height: 15px;
      width: 15px;
  }

  .sunMiniState {
      height: 6px;
      width: 6px;
  }

  /* | | | | | | | | | | | | | | | | */
  /* solar-system zoomIn/Out button */
  .zoomState {
      height: 17px;
      width: 17px;
      border: 6.5px solid rgba(255, 255, 255, 0.535);
  }

  .zoomInState {
      height: 25px;
      width: 25px;
      border: 2.5px solid rgba(255, 255, 255, 0.535);
  }
}

@media (max-width:768px) and (max-height:768px) {
  .finder {
      bottom: 6%;
  }
}